# NUMPY

In [ ]:
import numpy as np
#from numpy import array

In [ ]:
a = np.array([2,3,6,5,7,8,9,5,2,5])
a

array([2, 3, 6, 5, 7, 8, 9, 5, 2, 5])

In [ ]:
#n-dimensional array
type(a)

numpy.ndarray

In [ ]:
a.shape

(10,)

In [ ]:
a = np.array([[1,2,3], [4,5,6], [7,8,9]])
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
a.shape

(3, 3)

In [ ]:
a = np.array([[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15]])
a

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

In [ ]:
a.shape

(3, 5)

In [ ]:
a = np.array([[[1,2,3,4,5],[6,7,8,9,10]],
 [[11,12,13,14,15],[16,17,18,19,20]],
  [[21,22,23,24,25],[26,27,28,29,30]],
   [[1,2,3,4,5],[6,7,8,9,10]]])
a

array([[[ 1,  2,  3,  4,  5],
        [ 6,  7,  8,  9, 10]],

       [[11, 12, 13, 14, 15],
        [16, 17, 18, 19, 20]],

       [[21, 22, 23, 24, 25],
        [26, 27, 28, 29, 30]],

       [[ 1,  2,  3,  4,  5],
        [ 6,  7,  8,  9, 10]]])

In [ ]:
a.shape

(4, 2, 5)

In [ ]:
a= np.array([[[[1,2,3],[4,5,6]],[[1,2,3],[4,5,6]],[[1,2,3],[4,5,6]],[[1,2,3],[4,5,6]]],
             [[[1,2,3],[4,5,6]],[[1,2,3],[4,5,6]],[[1,2,3],[4,5,6]],[[1,2,3],[4,5,6]]],
             [[[1,2,3],[4,5,6]],[[1,2,3],[4,5,6]],[[1,2,3],[4,5,6]],[[1,2,3],[4,5,6]]],
             [[[1,2,3],[4,5,6]],[[1,2,3],[4,5,6]],[[1,2,3],[4,5,6]],[[1,2,3],[4,5,6]]],
             [[[1,2,3],[4,5,6]],[[1,2,3],[4,5,6]],[[1,2,3],[4,5,6]],[[1,2,3],[4,5,6]]],
             [[[1,2,3],[4,5,6]],[[1,2,3],[4,5,6]],[[1,2,3],[4,5,6]],[[1,2,3],[4,5,6]]]])
a

array([[[[1, 2, 3],
         [4, 5, 6]],

        [[1, 2, 3],
         [4, 5, 6]],

        [[1, 2, 3],
         [4, 5, 6]],

        [[1, 2, 3],
         [4, 5, 6]]],


       [[[1, 2, 3],
         [4, 5, 6]],

        [[1, 2, 3],
         [4, 5, 6]],

        [[1, 2, 3],
         [4, 5, 6]],

        [[1, 2, 3],
         [4, 5, 6]]],


       [[[1, 2, 3],
         [4, 5, 6]],

        [[1, 2, 3],
         [4, 5, 6]],

        [[1, 2, 3],
         [4, 5, 6]],

        [[1, 2, 3],
         [4, 5, 6]]],


       [[[1, 2, 3],
         [4, 5, 6]],

        [[1, 2, 3],
         [4, 5, 6]],

        [[1, 2, 3],
         [4, 5, 6]],

        [[1, 2, 3],
         [4, 5, 6]]],


       [[[1, 2, 3],
         [4, 5, 6]],

        [[1, 2, 3],
         [4, 5, 6]],

        [[1, 2, 3],
         [4, 5, 6]],

        [[1, 2, 3],
         [4, 5, 6]]],


       [[[1, 2, 3],
         [4, 5, 6]],

        [[1, 2, 3],
         [4, 5, 6]],

        [[1, 2, 3],
         [4, 5, 6]],

        [[1, 2, 3],
         [4, 5, 6]]]])

In [ ]:
a.shape

(6, 4, 2, 3)

In [ ]:
a = np.arange(25)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [ ]:
a= np.arange(7,36)
a

array([ 7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23,
       24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35])

In [ ]:
a = np.arange(1,50,3)
a

array([ 1,  4,  7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49])

In [ ]:
a= np.arange(27).reshape(5,5)
a

ValueError: ignored

In [ ]:
a= np.arange(27).reshape(3,9)
a

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23, 24, 25, 26]])

In [ ]:
#20,19,18,17,16,......5,4,3,2,1,0,-1,-2,-3
a= np.arange(20,0,-2)
a

array([20, 18, 16, 14, 12, 10,  8,  6,  4,  2])

In [ ]:
a= np.arange(50,10,-3)
a

array([50, 47, 44, 41, 38, 35, 32, 29, 26, 23, 20, 17, 14, 11])

In [ ]:
a= np.linspace(2, 16, 8)
a

array([ 2.,  4.,  6.,  8., 10., 12., 14., 16.])

In [ ]:
a= np.linspace(3, 19, 4)
a

array([ 3.        ,  8.33333333, 13.66666667, 19.        ])

In [ ]:
a=np.linspace(2,19, 9)
a

array([ 2.   ,  4.125,  6.25 ,  8.375, 10.5  , 12.625, 14.75 , 16.875,
       19.   ])

In [ ]:
for i in range(len(a) - 1):
  print('The difference between', a[i+1], '&', a[i],'is', a[i+1] - a[i])

The difference between 4.125 & 2.0 is 2.125
The difference between 6.25 & 4.125 is 2.125
The difference between 8.375 & 6.25 is 2.125
The difference between 10.5 & 8.375 is 2.125
The difference between 12.625 & 10.5 is 2.125
The difference between 14.75 & 12.625 is 2.125
The difference between 16.875 & 14.75 is 2.125
The difference between 19.0 & 16.875 is 2.125

In [ ]:
def lin_diff():
  a=int(input("Enter Start Value:"))
  b=int(input("Enter End Value:"))
  c=int(input("Enter Number of Intervals:"))
  d=np.linspace(a,b,c)
  e=[]
  for i in range(len(d) - 1):
    e.append(d[i+1] - d[i])
  return e

lin_diff()

Enter Start Value:2
Enter End Value:9
Enter Number of Intervals:7

[1.166666666666667,
 1.166666666666667,
 1.166666666666666,
 1.166666666666667,
 1.166666666666667,
 1.166666666666666]

In [ ]:
def lin_diff(a,b,c):
  d=np.linspace(a,b,c)
  e=[]
  for i in range(len(d) - 1):
    e.append(d[i+1] - d[i])
  return e

lin_diff(2,9,8)

[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]

In [ ]:
a = np.zeros(5)
a

array([0., 0., 0., 0., 0.])

In [ ]:
a= np.zeros((2,3))
a

array([[0., 0., 0.],
       [0., 0., 0.]])

In [ ]:
a= np.zeros((4,5,3))
a

array([[[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]]])

In [ ]:
a = np.arange(25).reshape(5,5)
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [ ]:
a[[1,3] , :]

array([[ 5,  6,  7,  8,  9],
       [15, 16, 17, 18, 19]])

In [ ]:
a[: , [2,4]]

array([[ 2,  4],
       [ 7,  9],
       [12, 14],
       [17, 19],
       [22, 24]])

In [ ]:
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [ ]:
a[[1,3],[2,4]]

array([ 7, 19])

In [ ]:
np.log(a)

<ipython-input-47-89b6b8e53c58>:1: RuntimeWarning: divide by zero encountered in log
  np.log(a)

array([[      -inf, 0.        , 0.69314718, 1.09861229, 1.38629436],
       [1.60943791, 1.79175947, 1.94591015, 2.07944154, 2.19722458],
       [2.30258509, 2.39789527, 2.48490665, 2.56494936, 2.63905733],
       [2.7080502 , 2.77258872, 2.83321334, 2.89037176, 2.94443898],
       [2.99573227, 3.04452244, 3.09104245, 3.13549422, 3.17805383]])

In [ ]:
np.log(4)
#e raise to the power 1.38629.. gives me result 4 where e is a constant value 2.71

1.3862943611198906

In [ ]:
#Log to the base 2.
np.log2(8)
#2 should be raised to the power 3 to get the result 8

3.0

In [ ]:
np.square(a)

array([[  0,   1,   4,   9,  16],
       [ 25,  36,  49,  64,  81],
       [100, 121, 144, 169, 196],
       [225, 256, 289, 324, 361],
       [400, 441, 484, 529, 576]])

In [ ]:
np.sqrt(a)

array([[0.        , 1.        , 1.41421356, 1.73205081, 2.        ],
       [2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ],
       [3.16227766, 3.31662479, 3.46410162, 3.60555128, 3.74165739],
       [3.87298335, 4.        , 4.12310563, 4.24264069, 4.35889894],
       [4.47213595, 4.58257569, 4.69041576, 4.79583152, 4.89897949]])

In [ ]:
a= np.array([[1,2,3],[4,5,6]])
b= np.array([[7,8,9],[10,11,12]])
print(a)
print(b)

[[1 2 3]
 [4 5 6]]
[[ 7  8  9]
 [10 11 12]]

In [ ]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)

[[ 8 10 12]
 [14 16 18]]
[[-6 -6 -6]
 [-6 -6 -6]]
[[ 7 16 27]
 [40 55 72]]
[[0.14285714 0.25       0.33333333]
 [0.4        0.45454545 0.5       ]]
[[         1        256      19683]
 [   1048576   48828125 2176782336]]

In [ ]:
a= np.array([[1,2,3,5],[4,5,6,9]])
b= np.array([[7,8,9],[10,11,12]])
print(a)
print(b)

[[1 2 3 5]
 [4 5 6 9]]
[[ 7  8  9]
 [10 11 12]]

In [ ]:
np.hstack((a,b))

array([[ 1,  2,  3,  5,  7,  8,  9],
       [ 4,  5,  6,  9, 10, 11, 12]])

In [ ]:
np.vstack((a,b))

ValueError: ignored

In [ ]:
a= np.array([[1,2,3],[4,5,6],[5,8,6],[2,3,9]])
b= np.array([[7,8,9],[10,11,12]])
print(a)
print(b)

[[1 2 3]
 [4 5 6]
 [5 8 6]
 [2 3 9]]
[[ 7  8  9]
 [10 11 12]]

In [ ]:
np.vstack((a,b))

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 5,  8,  6],
       [ 2,  3,  9],
       [ 7,  8,  9],
       [10, 11, 12]])

In [ ]:
a =np.random.randint(0,200, 500)
a

array([ 85,   1, 175, 137,  28,  38,  70, 141, 109,  10,  70, 193,  52,
        39, 198,   9,  54, 154,  59,  62,  67, 177,  74,   8, 129,  99,
        75,  67,  85, 127, 197,  99, 175,  23,   7,  25, 178,  81, 167,
       138, 113,   8,   7,  57,  80, 104,  36, 173,  74,  34,  30, 115,
       126, 177,  59,   6,  15,  80,  51, 153,   5, 147,  98, 132, 142,
        33,  32,   0,  40,  17,  64, 163, 144, 153,  39,  45, 118, 115,
        17, 183,  96,  97, 165,  32,  96,  91, 191, 139,  44, 167, 119,
       193,   9, 156,  32,  95, 161,  35,  56, 158,   3,  41, 151,  62,
        73, 126, 115,  39, 127,  23,  42,  97, 189,  79,  83,  47,  32,
       163,  45,  47,  49, 105,  45,  63, 122,  89,  83,  67,  72, 140,
       195,  48,  73,  62,  85, 181, 190, 113,  19, 193, 190, 153, 143,
        81,  91,  27, 126,  52,  84,  98, 191,  36, 149,   6, 178, 105,
       118, 129,  51,  58, 123,  56, 119,  85, 128,  97,  78, 122, 191,
        88, 131, 106,  17,  25, 120, 102,  58,  65,  89,  51,  94, 127,
        82,  17,  38,  48,  89, 165,  25,  17, 137, 187, 153, 106,  41,
       183,  64,  50, 116, 196,  90,  21,  61,  78, 143,  32, 102, 119,
       148, 111,  73,  53, 173,  14, 132,  28, 185,   5, 176, 120,  95,
        12, 128,  91,  80, 132, 161, 126,  48, 132, 136,  51, 160,  88,
       115, 168, 123, 183, 180, 185, 128,   5,  47, 117,   7, 197,  26,
        16, 165,  46, 138, 146, 198, 117, 119, 155, 100, 114,  53, 138,
        56,  80,  29, 140, 172,  41,  14,  41,  20, 140, 138,   1, 132,
       191,  82,  35, 178, 160, 150,  50, 154,  74, 145,  28, 117,   8,
       168,  79,  56, 135, 179, 160, 141,  66, 112,  25, 164,  57, 141,
       125, 172,  31,  84, 173,  16,  12,  66,  27,  24, 100, 168, 187,
        47,  25, 194,  97,  85,  12, 119,  41, 148,  31, 118,  79, 143,
        69, 178,  86, 143,  29,  11,  35, 185,  55, 104, 101, 113, 106,
        98, 196, 143,  14, 103, 114,  75, 177, 132,  61, 110,  92, 133,
        13, 120,  97,  72, 158, 149, 136, 167,  66,  51, 172, 104,   5,
       198, 160,  18, 112,  85,  86, 198,  71, 127,  75, 191, 183,  79,
        84, 174, 128, 192, 110,  73, 198,  38,   4, 118,  59,  34,  31,
        67, 184,  18,  75,  16,   1,  48,  17, 168, 121,  70,  61,   1,
       159, 197,  36, 117,  84, 127, 115, 174, 110,  56,  44, 172,  36,
        64,  88, 161, 183,  42,  83,  99,  13, 108, 127, 162, 133, 131,
       167, 171, 162,   7,  28, 187, 175, 168,  52, 142,  13,  76,  78,
        55, 117,  65,  43, 133, 110,  75, 101,  81, 162,  29, 126, 146,
        44, 177,  41, 177, 179, 159, 177, 119,  59,  49, 183, 199,  38,
        96,  29, 146, 100,   1, 162, 110, 172, 175,  42, 144,  21, 101,
       176,  74,  43, 122, 135, 190,  78, 166,  14,  82,   3,  52,  40,
         6, 193, 180,  77,  17, 185])

# PANDAS

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
uploaded= files.upload()

Saving mtcars.csv to mtcars (1).csv

In [ ]:
mtcars= pd.read_csv('/content/mtcars.csv')
mtcars

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
28  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

In [ ]:
#For Jupyter Notebook
#mtcars= pd.read_csv('C:\\Users\\Neha Excelr\\DataSets\\mtcars.csv')
#mtcars

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/Apress/data-analysis-and-visualization-using-python/master/Ch07/Salaries.csv')
df

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [ ]:
mtcars.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [ ]:
mtcars.head(10)

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
5  18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
6  14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
7  24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8  22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
9  19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4

In [ ]:
mtcars.tail()

     mpg  cyl   disp   hp  drat     wt  qsec  vs  am  gear  carb
27  30.4    4   95.1  113  3.77  1.513  16.9   1   1     5     2
28  15.8    8  351.0  264  4.22  3.170  14.5   0   1     5     4
29  19.7    6  145.0  175  3.62  2.770  15.5   0   1     5     6
30  15.0    8  301.0  335  3.54  3.570  14.6   0   1     5     8
31  21.4    4  121.0  109  4.11  2.780  18.6   1   1     4     2

In [ ]:
mtcars.tail(8)

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
28  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   rank        78 non-null     object
 1   discipline  78 non-null     object
 2   phd         78 non-null     int64
 3   service     78 non-null     int64
 4   sex         78 non-null     object
 5   salary      78 non-null     int64
dtypes: int64(3), object(3)
memory usage: 3.8+ KB

In [ ]:
df.describe()

             phd    service         salary
count  78.000000  78.000000      78.000000
mean   19.705128  15.051282  108023.782051
std    12.498425  12.139768   28293.661022
min     1.000000   0.000000   57800.000000
25%    10.250000   5.250000   88612.500000
50%    18.500000  14.500000  104671.000000
75%    27.750000  20.750000  126774.750000
max    56.000000  51.000000  186960.000000

In [ ]:
df['salary'].describe()

count        78.000000
mean     108023.782051
std       28293.661022
min       57800.000000
25%       88612.500000
50%      104671.000000
75%      126774.750000
max      186960.000000
Name: salary, dtype: float64

In [ ]:
df['salary'].mean()
df['salary'].count()
df['salary'].std()
df['salary'].min()
df['salary'].max()
df['salary'].quantile(0.25)
df['salary'].quantile(0.50)
df['salary'].quantile(0.75)

126774.75

In [ ]:
df_describe = df.describe()
df_describe

             phd    service         salary
count  78.000000  78.000000      78.000000
mean   19.705128  15.051282  108023.782051
std    12.498425  12.139768   28293.661022
min     1.000000   0.000000   57800.000000
25%    10.250000   5.250000   88612.500000
50%    18.500000  14.500000  104671.000000
75%    27.750000  20.750000  126774.750000
max    56.000000  51.000000  186960.000000

In [ ]:
df_describe.iloc[:, [0,2]]

             phd         salary
count  78.000000      78.000000
mean   19.705128  108023.782051
std    12.498425   28293.661022
min     1.000000   57800.000000
25%    10.250000   88612.500000
50%    18.500000  104671.000000
75%    27.750000  126774.750000
max    56.000000  186960.000000

In [ ]:
df_describe.iloc[[4,5,6], :]

       phd  service     salary
25%  10.25     5.25   88612.50
50%  18.50    14.50  104671.00
75%  27.75    20.75  126774.75

In [ ]:
df_describe.iloc[[1,2,3,7], [0,2]]

            phd         salary
mean  19.705128  108023.782051
std   12.498425   28293.661022
min    1.000000   57800.000000
max   56.000000  186960.000000

In [ ]:
df_describe.loc[['count','min','max'], ['phd','service']]

        phd  service
count  78.0     78.0
min     1.0      0.0
max    56.0     51.0

In [ ]:
df

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [ ]:
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [ ]:
df['rank'].value_counts()

Prof         46
AsstProf     19
AssocProf    13
Name: rank, dtype: int64

In [ ]:
df['discipline'].value_counts()

B    42
A    36
Name: discipline, dtype: int64

In [ ]:
df[['rank','discipline']].value_counts()

rank       discipline
Prof       A             23
           B             23
AsstProf   B             11
AssocProf  B              8
AsstProf   A              8
AssocProf  A              5
dtype: int64

In [ ]:
df.groupby('rank').mean()

<ipython-input-30-792e821864e0>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('rank').mean()

                 phd    service         salary
rank
AssocProf  15.076923  11.307692   91786.230769
AsstProf    5.052632   2.210526   81362.789474
Prof       27.065217  21.413043  123624.804348

In [ ]:
df.groupby('rank')['service'].mean()

rank
AssocProf    11.307692
AsstProf      2.210526
Prof         21.413043
Name: service, dtype: float64

In [ ]:
df.groupby(['rank','sex'])['phd'].sum()

rank       sex
AssocProf  Female    155
           Male       41
AsstProf   Female     62
           Male       34
Prof       Female    427
           Male      818
Name: phd, dtype: int64

In [ ]:
df['rank']=='AsstProf'

0     False
1     False
2     False
3     False
4     False
      ...
73    False
74    False
75    False
76    False
77    False
Name: rank, Length: 78, dtype: bool

In [ ]:
df[df['rank']=='AsstProf']

        rank discipline  phd  service     sex  salary
12  AsstProf          B    1        0    Male   88000
16  AsstProf          B    8        3    Male   75044
17  AsstProf          B    4        0    Male   92000
20  AsstProf          B    4        4    Male   92000
22  AsstProf          A    4        2    Male   73000
23  AsstProf          A    2        0    Male   85000
28  AsstProf          B    7        2    Male   91300
38  AsstProf          B    4        3    Male   91000
42  AsstProf          B    4        2  Female   80225
43  AsstProf          B    5        0  Female   77000
46  AsstProf          B   11        3  Female   74692
50  AsstProf          B   10        5  Female   97032
53  AsstProf          A    5        3  Female   73500
55  AsstProf          A    2        0  Female   72500
57  AsstProf          A    3        1  Female   72500
60  AsstProf          B    3        3  Female   92000
66  AsstProf          A    7        6  Female   63100
68  AsstProf          A    4        2  Female   77500
70  AsstProf          A    8        3  Female   78500

In [ ]:
df[(df['rank']=='AsstProf') & (df['discipline']=='B')]

        rank discipline  phd  service     sex  salary
12  AsstProf          B    1        0    Male   88000
16  AsstProf          B    8        3    Male   75044
17  AsstProf          B    4        0    Male   92000
20  AsstProf          B    4        4    Male   92000
28  AsstProf          B    7        2    Male   91300
38  AsstProf          B    4        3    Male   91000
42  AsstProf          B    4        2  Female   80225
43  AsstProf          B    5        0  Female   77000
46  AsstProf          B   11        3  Female   74692
50  AsstProf          B   10        5  Female   97032
60  AsstProf          B    3        3  Female   92000

In [ ]:
df[(df['rank']=='AsstProf') & (df['discipline']=='B') & (df['salary']>90000)]

        rank discipline  phd  service     sex  salary
17  AsstProf          B    4        0    Male   92000
20  AsstProf          B    4        4    Male   92000
28  AsstProf          B    7        2    Male   91300
38  AsstProf          B    4        3    Male   91000
50  AsstProf          B   10        5  Female   97032
60  AsstProf          B    3        3  Female   92000

In [ ]:
df[(df['rank']=='AsstProf') | (df['rank']=='AssocProf')]

         rank discipline  phd  service     sex  salary
6   AssocProf          A   20       17    Male   81285
12   AsstProf          B    1        0    Male   88000
16   AsstProf          B    8        3    Male   75044
17   AsstProf          B    4        0    Male   92000
20   AsstProf          B    4        4    Male   92000
22   AsstProf          A    4        2    Male   73000
23   AsstProf          A    2        0    Male   85000
28   AsstProf          B    7        2    Male   91300
30  AssocProf          B    9        7    Male  107008
34  AssocProf          B   12        8    Male  119800
38   AsstProf          B    4        3    Male   91000
41  AssocProf          A   13        8  Female   74830
42   AsstProf          B    4        2  Female   80225
43   AsstProf          B    5        0  Female   77000
46   AsstProf          B   11        3  Female   74692
47  AssocProf          B   11       11  Female  103613
50   AsstProf          B   10        5  Female   97032
53   AsstProf          A    5        3  Female   73500
54  AssocProf          A   25       22  Female   62884
55   AsstProf          A    2        0  Female   72500
56  AssocProf          A   10        8  Female   77500
57   AsstProf          A    3        1  Female   72500
59  AssocProf          B   12       10  Female  103994
60   AsstProf          B    3        3  Female   92000
61  AssocProf          B   13       10  Female  103750
62  AssocProf          B   14        7  Female  109650
64  AssocProf          A   26       24  Female   73300
66   AsstProf          A    7        6  Female   63100
68   AsstProf          A    4        2  Female   77500
70   AsstProf          A    8        3  Female   78500
71  AssocProf          B   12        9  Female   71065
74  AssocProf          B   19        6  Female  104542

In [ ]:
df[(df['phd']>=10) & (df['phd']<=15)]

         rank discipline  phd  service     sex  salary
1        Prof          A   12        6    Male   93000
34  AssocProf          B   12        8    Male  119800
41  AssocProf          A   13        8  Female   74830
46   AsstProf          B   11        3  Female   74692
47  AssocProf          B   11       11  Female  103613
50   AsstProf          B   10        5  Female   97032
52       Prof          A   12        0  Female  105000
56  AssocProf          A   10        8  Female   77500
59  AssocProf          B   12       10  Female  103994
61  AssocProf          B   13       10  Female  103750
62  AssocProf          B   14        7  Female  109650
71  AssocProf          B   12        9  Female   71065

In [ ]:
import pandas as pd

In [ ]:
items = pd.DataFrame()
items

Empty DataFrame
Columns: []
Index: []

In [ ]:
items = pd.DataFrame(columns=['Fruits','Vegetables','Snacks','Grains'])
items

Empty DataFrame
Columns: [Fruits, Vegetables, Snacks, Grains]
Index: []

In [ ]:
items['Fruits'] = pd.Series(['Apple', 'Banana', 'Mango'])
items['Vegetables'] = pd.Series(['Potato', 'Carrot', 'Peas'])
items['Snacks'] = pd.Series(['Chips', 'Cake', 'Samosa'])
items['Grains'] = pd.Series(['Rice','Wheat','Ragi'])
items

   Fruits Vegetables  Snacks Grains
0   Apple     Potato   Chips   Rice
1  Banana     Carrot    Cake  Wheat
2   Mango       Peas  Samosa   Ragi

In [ ]:
items['Beverages'] = ['Tea','Coffee','Juice']
items

   Fruits Vegetables  Snacks Grains Beverages
0   Apple     Potato   Chips   Rice       Tea
1  Banana     Carrot    Cake  Wheat    Coffee
2   Mango       Peas  Samosa   Ragi     Juice

In [ ]:
items_dict = {'Fruits' : ['Apple', 'Banana', 'Mango'],
        'Vegetables' : ['Potato', 'Carrot', 'Peas'],
        'Snacks' : ['Chips', 'Cake', 'Samosa'],
        'Grains' : ['Rice','Wheat','Ragi']}
items_dict
items_df = pd.DataFrame(items_dict)
items_df

   Fruits Vegetables  Snacks Grains
0   Apple     Potato   Chips   Rice
1  Banana     Carrot    Cake  Wheat
2   Mango       Peas  Samosa   Ragi

In [ ]:
items['Index'] = ['A','B','C']
items

   Fruits Vegetables  Snacks Grains Beverages Index
0   Apple     Potato   Chips   Rice       Tea     A
1  Banana     Carrot    Cake  Wheat    Coffee     B
2   Mango       Peas  Samosa   Ragi     Juice     C

In [ ]:
items.set_index('Index', inplace=True)
items

       Fruits Vegetables  Snacks Grains Beverages
Index
A       Apple     Potato   Chips   Rice       Tea
B      Banana     Carrot    Cake  Wheat    Coffee
C       Mango       Peas  Samosa   Ragi     Juice

In [ ]:
items.loc['D',:]=['Chickoo','Spinach','Fritters','Daal','Beer']
items

        Fruits Vegetables    Snacks Grains Beverages
Index
A        Apple     Potato     Chips   Rice       Tea
B       Banana     Carrot      Cake  Wheat    Coffee
C        Mango       Peas    Samosa   Ragi     Juice
D      Chickoo    Spinach  Fritters   Daal      Beer

In [ ]:
items.iloc[[0,2],[2,3]]

       Snacks Grains
Index
A       Chips   Rice
C      Samosa   Ragi

In [ ]:
items.loc[['A','C'],['Snacks','Grains']]

       Snacks Grains
Index
A       Chips   Rice
C      Samosa   Ragi

In [ ]:
items = pd.DataFrame(columns=['Fruits','Vegetables','Snacks','Grains'])
items['Fruits'] = pd.Series(['Apple', 'Banana', 'Mango'])
items['Vegetables'] = pd.Series(['Potato', 'Carrot', 'Peas'])
items['Snacks'] = pd.Series(['Chips', 'Cake', 'Samosa'])
items['Grains'] = pd.Series(['Rice','Wheat','Ragi'])
items['Beverages'] = ['Tea','Coffee','Juice']
items

   Fruits Vegetables  Snacks Grains Beverages
0   Apple     Potato   Chips   Rice       Tea
1  Banana     Carrot    Cake  Wheat    Coffee
2   Mango       Peas  Samosa   Ragi     Juice

In [ ]:
items.loc[0.5,:]= ['Pear','Onion','Kebab','Jowar','Cocktail']
items = items.sort_index().reset_index(drop=True)
items

   Fruits Vegetables  Snacks Grains Beverages
0   Apple     Potato   Chips   Rice       Tea
1    Pear      Onion   Kebab  Jowar  Cocktail
2  Banana     Carrot    Cake  Wheat    Coffee
3   Mango       Peas  Samosa   Ragi     Juice

In [ ]:
index = pd.Index(['A','B','C','D'])
items = items.set_index(index)
items

   Fruits Vegetables  Snacks Grains Beverages
A   Apple     Potato   Chips   Rice       Tea
B    Pear      Onion   Kebab  Jowar  Cocktail
C  Banana     Carrot    Cake  Wheat    Coffee
D   Mango       Peas  Samosa   Ragi     Juice

In [ ]:
items = pd.DataFrame([['Pear','Onion','Kebab','Jowar','Cocktail']], columns=items.columns).append(items)
items.reset_index(drop=True,inplace=True)

<ipython-input-59-eb288cc8ed02>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  items = pd.DataFrame([['Pear','Onion','Kebab','Jowar','Cocktail']], columns=items.columns).append(items)

In [ ]:
items

   Fruits Vegetables  Snacks Grains Beverages
0    Pear      Onion   Kebab  Jowar  Cocktail
1   Apple     Potato   Chips   Rice       Tea
2    Pear      Onion   Kebab  Jowar  Cocktail
3  Banana     Carrot    Cake  Wheat    Coffee
4   Mango       Peas  Samosa   Ragi     Juice

In [ ]:
items.drop('Grains', axis=1, inplace=True)
items

   Fruits Vegetables  Snacks Beverages
0    Pear      Onion   Kebab  Cocktail
1   Apple     Potato   Chips       Tea
2    Pear      Onion   Kebab  Cocktail
3  Banana     Carrot    Cake    Coffee
4   Mango       Peas  Samosa     Juice

In [ ]:
items.drop(0, axis=0, inplace=True)
items

  Fruits Vegetables  Snacks Beverages
1  Apple     Potato   Chips       Tea
2   Pear      Onion   Kebab  Cocktail
4  Mango       Peas  Samosa     Juice

In [ ]:
items.rename(columns={'Beverages': 'Drinks'}, inplace=True)
items

  Fruits Vegetables  Snacks    Drinks
1  Apple     Potato   Chips       Tea
2   Pear      Onion   Kebab  Cocktail
4  Mango       Peas  Samosa     Juice

In [ ]:
items.rename(index={1: 'a', 2:'b', 4:'c'}, inplace=True)
items

  Fruits Vegetables  Snacks    Drinks
a  Apple     Potato   Chips       Tea
b   Pear      Onion   Kebab  Cocktail
c  Mango       Peas  Samosa     Juice

In [ ]:
items.replace('Peas', 'Spinach', inplace=True)
items

  Fruits Vegetables  Snacks    Drinks
a  Apple     Potato   Chips       Tea
b   Pear      Onion   Kebab  Cocktail
c  Mango    Spinach  Samosa     Juice

In [ ]:
items.replace({'Fruits': {'Apple':'Banana', 'Pear': 'Kiwi'},
               'Drinks':{'Tea':'Coffee','Cocktail':'Mocktail'}},inplace=True)

In [ ]:
items

   Fruits Vegetables  Snacks    Drinks
a  Banana     Potato   Chips    Coffee
b    Kiwi      Onion   Kebab  Mocktail
c   Mango    Spinach  Samosa     Juice